@{
    ViewData["Title"] = "userType";
}

<body>
    <div class="container">
        <h1>Welcome to Contract Monthly Claim System</h1>
        <img src="Images/at the top.png" alt="Logo" class="logo">
        <p>Login as:</p>
        <div class="button-container">
            <a href="@Url.Action("login_Lecturer", "AppViews")" class="button-link">Lecturer</a>
            <a href="@Url.Action("login_Contractor", "AppViews")" class="button-link">Contractor</a>
        </div>
    </div>
</body>